#lst-ib,
input,
.gb_xb {
  background: transparent!important;
}
html:not(#⁠),
#hdtbSum,
.jfk-bubble,
#qbp,
#kbd {
  background: --bg-color--!important;
}
body.hp:not(#⁠) {
  color: --front-color--!important;
}

:not(#⁠):not(.BVPfqc):not(.iUh30):not(.LC20lb):not(.ab_button):not(.KEIzSc) {
  color: --front-color--!important;
}
:not(#⁠) option {
  color: --bg-color--!important;
}
:not(#⁠):link .mVDMnf,
:not(#⁠):link {
  color: --link-color--!important;
}
:not(#⁠):visited .mVDMnf,
:not(#⁠):visited {
  color: --visited-color--!important;
}
/* header color */
:not(#⁠):link h3 {
  color: --link-header-color--!important;
}
:not(#⁠):visited h3 {
  color: --link-visited-header-color--!important;
}
::selection {
  background-color: --selection-bg--!important;
  color: --selection-color--!important;
  text-shadow: none!important
}
._Bs:not(#⁠),
._LSh:not(#⁠),
#irc_pc:not(#⁠),
.mn-dwn-arw:not(#⁠) {
  border-color: --front-color-- transparent!important;
}
.tnv-lt-arw:not(#⁠) {
  border-color: transparent --front-color--!important;
}
.goog-flat-menu-button-dropdown {
  border-color: --front-color-- transparent!important;
}
.gb_Wa,
.gb_Xa {
  border-color: transparent transparent --bg-color--!important;
}
/*search bar*/
#fkbx { /* as homepage */
  box-shadow: 0 0 0 1px --front-color--!important;
}
body.fkbxfcs #fkbx {
  box-shadow: 0 0 0 1px --link-color--!important;
}
#sfdiv {
  border: 1px solid --front-color--!important;
}
#sfdiv.sbhcn {
  border: 1px solid --visited-color--!important;
}
#sfdiv.sbfcn {
  border: 1px solid --link-color--!important;
}
.ab_button,
:not(.source-wrap):not(.tlid-results-container):not(.RNNXgb):not(#sfdiv):not(#nqsbq):not(.mn-dwn-arw):not(._Bs):not(.goog-flat-menu-button-dropdown):not(#gt-src-wrap):not(#gt-res-wrap):not([type="email"]):not([type="password"]):not([aria-hidden]):not([role="menu"]):not([aria-expanded]):not([type="text"]):not([role="listbox"]) {
  border: none!important;
}
.frame {
  background: --bg-color--!important;
}

:not([title]):not(.gb_xb):not(.frame):not(.input-button-container):not(.source-wrap):not(.sbhl):not(.cwdrsb-tpl):not(.nojsv):not(.ifM9O):not(.kltooltip):not(.nGzje):not([name="btnI"]):not([name="btnK"]):not(.OKvwbb),
[title^="Results"] {
  background-color: transparent!important;
}
/* google translate */
.input-button-container,
.source-wrap {
  background-color: #404040 !important;
}

[role="listbox"]:not(#⁠),
[aria-hidden="false"]:not(#⁠),
[role="menu"]:not(#hdtb-more),
[aria-label="Account Information"]:not(#⁠),
[id^="gbd"]:not(#⁠),
[class$="dlg"]:not(#⁠),
#fsett:not(#⁠),
#ab_options:not(#⁠),
.crp:not(#⁠),
.hdtb-mn-o:not(#⁠),
.ab_dropdown:not(#⁠),
.popupContent:not(#⁠),
.jfk-scrollbar:not(#⁠) {
  background-color: --bg-color--!important;
}
.sfbgg,
.card-mask,
.ZvpjBb {
  background-image: none!important;
}
.ab_button,
[role="button"]:not(.gb_Rb):not(#irc_cb),
[type="submit"],
[type="button"],
.goog-flat-menu-button:not(#⁠) {
  background-color: transparent!important;
}
[aria-label="promo"] {
  display: none!important
}
[aria-hidden],
[role="menu"],
[aria-expanded] {
  border-color: --visited-color--!important;
}
:not(#⁠) #gbwa .gb_b:empty {
  filter: invert(100%) !important;
}
:not(#⁠) #gbwa+div a>div:empty {
  background-color: rgba(255, 255, 255, .55)!important;
}
nav svg,
[role="toolbar"] svg,
[role="menu"] svg,
[role="button"] svg[fill="#000000"] {
  filter: invert(1)hue-rotate(180deg)!important;
}
.ab_icon,
.jfk-button-img,
[class*="vk-sf-c"]:not([class*="c273"]):not([class*="cl"]),
.vk-t-btn.vk-sf-cl,
.gsst_e {
  filter: invert(1)hue-rotate(180deg);
  -webkit-filter: invert(1)hue-rotate(180deg);
}
.RNNXgb { /* search box */
  border: solid 1px #545454 !important;
}
[role="listbox"] {
  border: 1px #545454 solid!important;
}
[role="listbox"]:hover {
  border: 1px --link-color-- solid!important;
}
.vk_ard:after,
.vk_aru:before {
  display: none!important
}
[role="presentation"].sbsb_d {
  background-color: --visited-color--!important;
}
.jfk-bubble,
#qbp,
#kbd,
.vk-btn {
  box-shadow: 0 0 1px !important;
}
.sugg-fade {
  background-image: none !important;
}
.trans-verified-button {
  filter: invert(100%);
}
/* selected search */
.sbhl {
  background-color: --selection-bg--!important;
  color: --selection-color--!important;
}
/* google transalte (windows) */
.ls-wrap,
.sl-sugg,
.tl-sugg,
.sl-sugg-button-container {
  overflow: hidden;
}
.jfk-button-flat {
  border: none;
}
/* homepage buttons */
.FPdoLc [name="btnI"],
.FPdoLc [name="btnK"] {
  background-color: --bg-light-color--!important;
}

/* embed calculator */
.BVPfqc {
  color: --bg-color--!important;
}
.cwdrsb-tpl {
  background-color: --bg-light-color--!important;
}
/* search link color */
.iUh30 {
  color: --link-color--!important;
}
/* floating search box after scroll down*/
.nojsv {
  background-color: --bg-color--!important;
  border-bottom: solid 1px red;
}
/* map overlay rating */
.ifM9O {
  background-color: --bg-light-color--!important;
}
/* map overly preview */
.kltooltip {
  background-color: --bg-light-color--!important;
}
/* live score */
.nGzje {
  background-color: --bg-light-color--!important;
}
